@import "bootstrap-sprockets";
@import "bootstrap";

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    h1 {
        margin: 0;
    }
}

.posts{

}

.post{
    
}

.pull-left {
    float: left !important;
}
.pull-right {
    float: right !important;
    margin: 5px;
}

